/*
BARVY
primární oranžová:	#f03000;
tmavá:							#444444;
šedá:								#888888;
světle šedá:				#e5e5e5;
jemně šedá:					#f5f5f5;

FONTY
výchozí písma:			'Open Sans', sans-serif;
titulky, menu:			'Montserrat', sans-serif;

STANDARDNÍ REZESTUPY
rozestup mezi boxy:			20px
rozestup mezi sekcemi:	40px

Obsah stránky je omezen do pruhu širokého maximálně 1200px.
Pruh je na stránce horizontálně vycentrovaný.
*/


html {
	box-sizing: border-box;
}
*, ::before, ::after {
	box-sizing: inherit;
}

